:root {
    --primary-color: #0ef;
    --background-color: #081b29;
    --text-color: white;
    --border-color: #0ef;
    --box-shadow: 0 0 25px #0ef;
    --transition-speed: 0.3s;
}

.container {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-color);
}

.wrapper {
    position: relative;
    width: 750px;
    height: 800px;
    background: transparent;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    &:hover {
        transform: scale(1.02);
    }

    .form-box-signup {
        background: transparent;
        padding: 20px 0;
        width: 50%;
        color: var(--text-color);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 25%;

        h1 {
            font-size: 32px;
            color: var(--text-color);
            text-align: center;
            margin-bottom: 20px;
        }

        .input-box {
            position: relative;
            height: 50px;
            width: 100%;
            margin: 25px 0;
        }


        input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid white;
            color: white;

            &:focus+label,
            &:valid+label {
                color: #0ef;
                top: -5px;
            }
        }

        label {
            position: absolute;
            top: 50%;
            font-size: 16px;
            color: white;
            pointer-events: none;
            transition: 0.5s;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
            cursor: pointer;
        }

       
       

    }

}